---
title: "[Kaggle] Coffee Sales Visuzlization"
author: "SEOYEON CHOI"
date: "2025-09-04"
---

# Reference

- [link](https://www.kaggle.com/datasets/navjotkaushal/coffee-sales-dataset)
- [ggplottop50](https://r-statistics.co/Top50-Ggplot2-Visualizations-MasterList-R-Code.html)

In [1]:
import rpy2

In [2]:
%load_ext rpy2.ipython

In [3]:
%%R
df <- read.csv("../../../delete/Coffe_sales.csv")

In [4]:
%%R
head(df)

  hour_of_day cash_type money         coffee_name Time_of_Day Weekday
1          10      card  38.7               Latte     Morning     Fri
2          12      card  38.7       Hot Chocolate   Afternoon     Fri
3          12      card  38.7       Hot Chocolate   Afternoon     Fri
4          13      card  28.9           Americano   Afternoon     Fri
5          13      card  38.7               Latte   Afternoon     Fri
6          15      card  33.8 Americano with Milk   Afternoon     Fri
  Month_name Weekdaysort Monthsort       Date            Time
1        Mar           5         3 2024-03-01 10:15:50.520000
2        Mar           5         3 2024-03-01 12:19:22.539000
3        Mar           5         3 2024-03-01 12:20:18.089000
4        Mar           5         3 2024-03-01 13:46:33.006000
5        Mar           5         3 2024-03-01 13:48:14.626000
6        Mar           5         3 2024-03-01 15:39:47.726000