---
title: "SAS Advanced Certificate"
author: "SEOYEON CHOI"
date: "2025-08-19"
---

# Website

- [SAS® OnlineTutor 9.1: Advanced Programming](https://sas.1or9.com/fru3oq9fam/59267/paths.htm)
- [SAS practice exam](https://www.sas.com/ko_kr/certification/resources/sas-practice-exams.html)
- [논문 사이트](https://www.lexjansen.com/cgi-bin/saspapers_query.php)
- [Practice exam](https://www.itexams.com/info/A00-212)

# 시험 기본

## 시험 구조

Performance Based Exam (즉, 문제는 이론 + 코드 기반 실습)

출제 영역
- SQL (35%)
- Macro (35%)
- Advanced Techniques (30%)

### 1. Accessing Data Using SQL (35%)

- 기본 SELECT: SELECT, FROM, WHERE, ORDER BY
- 새 변수 생성: AS, 계산열, CASE WHEN
- 조인: INNER, LEFT, RIGHT, FULL (COALESCE 함수 포함)
- Set operators: UNION, OUTER UNION, EXCEPT, INTERSECT
- 집계: AVG, COUNT, MAX, MIN, SUM, GROUP BY, HAVING
- 중복 제거: DISTINCT
- 서브쿼리, 인라인 뷰 활용
- SAS 확장 기능:
    - Dataset options (KEEP=, DROP=, RENAME=, OBS=)
    - Invocation options (INOBS=, OUTOBS=, NOPRINT, NUMBER)
    - Functions (SCAN, SUBSTR, LENGTH)
    - Dictionary tables (DICTIONARY.COLUMNS 등)
    - CALCULATED 키워드

### 2. Macro Processing (35%)

매크로 변수
- 생성: %LET, INTO:, CALL SYMPUTX
- Scope 제어: %GLOBAL, %LOCAL, SYMPUTX 옵션
- 이름 구분자(.) 활용
- 매크로 프로그램
- 정의/호출: %MACRO … %MEND

파라미터 유무 호출
- 조건문: %IF-%THEN-%ELSE
- 반복문: %DO-%END
- AUTOCALL facility (재사용 가능한 매크로 저장/호출)

매크로 함수
- 기본: %SCAN, %SUBSTR, %UPCASE
- Quoting: %STR, %NRSTR
- Evaluation: %SYSEVALF
- %SYSFUNC → DATA step 함수 호출

디버깅
- MLOGIC, MPRINT, SYMBOLGEN
- %PUT 로그 확인

데이터 기반 매크로
- && 간접 참조

Dictionary table 기반 매크로
- 반복적 매크로 호출 생성

### 3. Advanced Techniques (30%)

배열 (Array)
- 문자형/숫자형 배열
- DIM 함수
- Temporary array
- Dataset 값으로 초기화

Hash Object
- 선언: DECLARE HASH, DECLARE HITER
- 주요 메서드: DEFINEKEY, DEFINEDATA, DEFINEDONE, FIND, ADD, OUTPUT
- Iterator: FIRST, NEXT, LAST, PREV
- 활용: Lookup table, 정렬, 순회

Utility Procedures
- PROC FORMAT – PICTURE 문 (숫자/날짜 포맷 정의, 옵션: round, default, prefix 등)
- PROC FCMP – 사용자 정의 함수 (단일/다중 인자, 조건문 처리, CMPLIB= 옵션으로 호출)

고급 함수
- FINDC, FINDW, COUNT, COUNTC, COUNTW
- LAG
- Regex 함수 (PRX)
- 메타문자: () [] {} * + ? . | ^ $ \d \D \s \S \w \W
- 함수: PRXMATCH, PRXPARSE, PRXCHANGE

# 공식 문제

## Question 1

> array

Open a new programming window to create ACT01.sas in c:\cert\programs. 

Write a SAS program that will: 
- Create output data set work.ACT01 using sashelp.pricedata as input. 
- Use an array to increase the values of the price1 through price17 variables by 10%. 

Run your program and troubleshoot as necessary. When you are finished with the project: 
1. Ensure that you have saved your program as ACT01.sas in c:\cert\programs. 
2. From the score.sas program, call the scoreit macro using ACT01 as the parameter: %scoreit(ACT01). 

What is the value for Response in the SAS log? ___ 

Correct Solution: All price values for all price1-through price17 will be increased by 10%. For example, price2 in observation 5 will now be 126.50. Arrays and do loops would be used in the program.

```sas

data work.atc01; 
set sashelp.pricedata; 

    array prices {*} price1-price17; 
    do i = 1 to dim(prices); 
    prices[i] = prices[i] * 1.10; 

    end; 
drop i; 
run;

```

## Question 2

> symputx

Open a new programming window to create MAC01.sas in c:\cert\programs. 

Write a DATA step that reads only the first observation of the sashelp.cars data set and stores the value of the Make variable in a macro variable named CarMaker. 

The macro variable must be defined from within the DATA Step. 

Run your program and troubleshoot as necessary. 

When you are finished with the project: 
1. Ensure that you have saved your program as MAC01.sas in c:\cert\programs. 
2. From the score.sas program, call the scoreit macro using MAC01 as the parameter: %scoreit(MAC01). 

What is the value for Response in the SAS log? __ 

Correct Solution: The CarMaker macro variable will have a value of Acura. 

The program will include a symputx routine.

```sas

data _null_; 
set sashelp.cars; 
    
    if _n_ = 1 then call symputx('Carmaker'.Make); 
    
run;

```

## Question 3

> proc sql, mean(), group by

Open a new programming window to create SQL01.sas in c:\cert\programs. 

Write an SQL query that will: 
- Create output data set work.SQL01 using sashelp.cars as input. 
- Compute the average MPG_City for each group of Make. 

Name the calculated variable AvgCityMPG. 
- The output data should have 2 columns, Make and AvgCityMPG. 

Run your program and troubleshoot as necessary. 

When you are finished with the project: 
1. Ensure that you have saved your program as SQL01.sas in c:\cert\programs. 
2. From the score.sas program, call the scoreit macro using SQL01 as the parameter: %scoreit(SQL01). 

What is the value for Response in the SAS log? __ 

Correct Solution: An SQL query with a group by clause will be written. 

The AvgCityMPG for MAKE=MINI will be 26.5.

```sas

proc sql; 
    create table work.SQL01 as 
    select Make, mean(MPG_City) as AvgCityMPG 
    from sashelp.cars 
    group by Make; 
quit;

```

# Proc sql

## case 조건 사용법

```sas
proc sql;
   select FirstName, LastName, State, CreditScore,
          case Married
             when "M" then "Married"
             when "D" then "Divorced"
             when "S" then "Single"
             when "W" then "Widowed"
             else "Unknown"
          end as Category
   from sq.customer (obs=1000);
quit;
```

## Operators 연산자

| 연산자                | 중복 처리   | 컬럼 매칭   | 특징 |
|-----------------------|-------------|-------------|------|
| **UNION**             | 중복 제거   | 위치 기반   | 두 SELECT 결과 합침 (DISTINCT 효과, 자동 정렬) |
| **UNION ALL**         | 중복 유지   | 위치 기반   | 두 SELECT 결과 합침 (중복 포함, 빠름) |
| **OUTER UNION**       | 중복 유지   | 위치 기반   | 컬럼 개수가 달라도 합칠 수 있음, 없는 값은 NULL/결측 |
| **OUTER UNION CORR**  | 중복 유지   | 이름 기반   | 컬럼 이름 기준으로 매칭, 없는 값은 NULL/결측 |
| **EXCEPT**            | 중복 제거   | 위치 기반   | 첫 번째 SELECT 결과에서 두 번째 SELECT 결과를 제외 |
| **INTERSECT**         | 중복 제거   | 위치 기반   | 두 SELECT 결과의 공통 행만 반환 |

## group by 사용 하고 안 하고의 차이

- **GROUP BY 없음** → 각 행(row) 그대로 출력  
- **GROUP BY 있음** → 지정한 그룹별로 요약(평균, 합계 등 집계 함수 결과)만 출력

1. GROUP BY 사용하지 않은 경우 (원본 그대로)

| Make   | MPG_City |
|--------|----------|
| Toyota | 20       |
| Toyota | 22       |
| Toyota | 25       |
| Ford   | 15       |
| Ford   | 18       |
| Honda  | 30       |

2. GROUP BY 사용한 경우 (Make별 평균)

| Make   | AvgCityMPG |
|--------|------------|
| Ford   | 16.5       |
| Honda  | 30.0       |
| Toyota | 22.3       |

## subquery

- `in`사용
    - sashelp.class에서 나이가 sashelp.class에서 가장 많은 나이들 중 하나인 학생을 출력하시오.

```sas
proc sql;
   select Name, Age
   from sashelp.class
   where Age in (select max(Age) from sashelp.class);
quit;
```

- 인라인 뷰 
    - sashelp.class에서 나이별 평균 몸무게를 계산한 후, 평균이 100 이상인 나이 그룹만 출력하시오.

```sas
proc sql;
   select *
   from (
      select Age, avg(Weight) as AvgWeight
      from sashelp.class
      group by Age
   ) as sub
   where AvgWeight >= 100;
quit;
```

# Macro

## do while

- 모두 매크로 코드로 x초기값1.25로 지정하고 do until이나 do while로 2보다 작은 값에 댜해서만 x log기록 후 0.25씩 늘려가는 매크로
    - `%sysevalf` 입력!

```sas

%macro loopx;
   %let x=1.25;   /* 초기값 */

   %do %while(&x < 2);
      %put NOTE: x=&x;

      /* x = x + 0.25 */
      %let x = %sysevalf(&x + 0.25);
   %end;
%mend;

%loopx


```

## macro 변수 저장

- sashelp.class에서 나이가 16인 학생들의 이름을 매크로 변수 student_list에 공백으로 구분해 저장하시오.

```sas
proc sql noprint;
   select Name into :student_list separated by ' '
   from sashelp.class
   where Age=16;
quit;

%put &=student_list;
```

## symputx

- 다음 코드에서 maxage라는 매크로 변수를 생성하시오.

```sas
data _null_;
   set sashelp.class end=last;
   retain maxage 0;
   if Age > maxage then maxage=Age;
   if last then call symputx('maxage', maxage);
run;

%put &=maxage;
```

## 간접참조&&

- 아래와 같은 매크로 변수들이 있을 때, `var1=Height, var2=Weight, var3=Age`. 루프를 이용해 차례대로 변수명을 출력하시오.
    - `&&var&i → &var1 → Height`, 두 번 풀려서 최종적으로 변수명이 나옴

```sas
%let var1=Height;
%let var2=Weight;
%let var3=Age;

%macro show;
   %do i=1 %to 3;
      %put &&var&i;
   %end;
%mend;

%show
```

## 매크로 지우는 코드

```sas
%symdel &vars;
```

## %SUBSTR

- 매크로 변수 name=Alexander에서 앞 4글자만 추출하여 매크로 변수 shortname을 만드시오.
    - `%SUBSTR(string, position, length)`
    - 결과: Alex

```sas
%let name=Alexander;
%let shortname=%substr(&name,1,4);
%put &=shortname;
```

## %put

- % put error:쓰고 log에 print 안 되게 한느 법

```sas
%macro name;
    options nonotes;
    %put error: this is error.
%name;
```

- _USER_ 키워드는 사용자가 만든 모든 매크로 변수(전역 + 지역)를 로그에 보여줍니다.

```sas
%let global1=AAA;

%macro demo;
   %let local1=BBB;
   %global global2;
   %let global2=CCC;

   %put ---- Inside macro ----;
   %put _USER_;
%mend;

%demo

%put ---- After macro ----;
%put _USER_;
```

- log 결과

```sas
GLOBAL GLOBAL1 AAA
GLOBAL GLOBAL2 CCC
LOCAL  LOCAL1 BBB

---- After macro ----
GLOBAL GLOBAL1 AAA
GLOBAL GLOBAL2 CCC
```

- `%put _ALL_`; → 자동변수 + 사용자 변수 + 시스템 변수 전부 다
- `%put _AUTOMATIC_`; → 자동으로 제공되는 시스템 매크로 변수만
- `%put _GLOBAL_`; → 글로벌 변수만
- `%put _LOCAL_`; → 매크로 실행 중일 때만 로컬 변수만

```sas
proc sql noprint;
    select name
    into :namelist separated by ','
    into :n1 - :n5
    into :avg_h, :avg_w
    from sashelp.class
    where sex='F';
quit;
```

## minoperator

- minoperator는 in을 쓸 수 있게 해줌

```sas
%macro avgfuel(loc) / minoperator;
%else %if &loc in ASIA EUROPE %then %do;
```

## mprint mlogic symbolgen;

MPRINT → 매크로가 실제로 실행할 SAS 코드(매크로 해석 후의 코드)를 로그에 보여줌

MLOGIC → 매크로 실행 과정(분기, 반복, 호출/종료 등)을 단계별로 로그에 보여줌

SYMBOLGEN → 매크로 변수 치환 과정(&변수)을 로그에 보여줌

```sas
options mprint mlogic symbolgen;
```

## put vs putlog

- put
    - %LET → 매크로 변수 name 생성 (Seoyeon)
    - %PUT → 매크로 실행 시점에 로그에 문자열 출력
    - 결과 (로그):

```sas
%let name=Mike;
%put Hello, &name.;
```

결과: Hellp, Mike

- put log
    - DATA step 실행 중, putlog 문이 SAS 로그에 메시지 기록
    - "현재 값은 " → 문자열 그대로 출력
    - x= y= → 변수 이름과 값 함께 출력
    - 결과 (로그):

```sas
data _null_;
   x = 10;
   y = 20;
   putlog "현재 값은 " x= y=;
run;
```

결과: 현재 값은 x=10 y=20

## 오늘 날짜 표현 방법

- 방법 1: `%SYSFUNC + date()`
    - date() 함수 → 현재 날짜 (SAS 일련번호, 1960/01/01 기준)
    - date9. 포맷 → 26AUG2025 형태

```sas
%let today=%sysfunc(date(), date9.);
%put &=today;
```

- 방법 2: `%SYSFUNC + today()`
    - today() 함수도 현재 날짜 반환 (date()와 동일)
    - 다른 포맷 사용 가능 (yymmdd10. → 2025-08-26)

```sas
%let today=%sysfunc(today(), yymmdd10.);
%put &=today;
```

- 방법 3: `datetime()`
    - 현재 날짜+시간 출력 (26AUG2025:15:30:45)

```sas
%let now=%sysfunc(datetime(), datetime20.);
%put &=now;
```

- 방법 4: `%sysfunc(today(), worddate.)`
    - 결과: 26 August 2025 (가독성 좋은 문자열)

```sas
%let today=%sysfunc(today(), worddate.);
%put &=today;
```

- 방법 5: `%sysfunc(today(), weekdate.)`
    - 결과: Tuesday, August 26, 2025

```sas
%let today=%sysfunc(today(), weekdate.);
%put &=today;
```

- 방법 6: 시스템 매크로 변수 활용 `(&sysdate9, &sysdatetime)`
    - SAS 자동 제공 시스템 매크로 변수 사용
    - 형식은 고정되어 있음

```sas
%put &=sysdate9;      /* 26AUG2025 */
%put &=sysdate;       /* 26AUG25   */
%put &=sysdatetime;   /* 26AUG25:15:30:45 */
```

# Advanced Tech

## Array

- 이렇게 하면 7,8,9 이렇게 3개 가져옴

```sas
array Farenht [7:9] Temp7-Temp9;
array Celsius [7:9] TempC7-TempC9;
```

- 또는 이렇게 해서 한 번에 4개 나열

```sas
array Status[4] $ 5 StatusQ1-StatusQ4;
```

- 2행 3열로 나타남

```sas
array Avg [2013:2014,3] (40.9, 40.7, 38.6, 42.5, 42.6, 45.4): 
```

- _N_ = 1일 때만 작동 → 즉, 한 번의 데이터 스텝 실행 중에 array_data의 두 줄 모두 처리함.
- set array_data는 두 번 호출되며 각 줄을 Row=1, Row=2로 저장
- 배열의 메모리 배치 순서: TwoD[1,1] → TwoD[1,2] → TwoD[1,3] → TwoD[2,1] → TwoD[2,2] → TwoD[2,3]

Row=1 → OneD = Jack, Mary, Sally
- TwoD[1,1] = Jack
- TwoD[1,2] = Mary
- TwoD[1,3] = Sally

Row=2 → OneD = Christy, John, Marty
- TwoD[2,1] = Christy
- TwoD[2,2] = John
- TwoD[2,3] = Marty

```sas
data new_data(drop=Row Column);
  array TwoD[2,3] $;           /* 2행 3열 문자형 배열 선언 */
  retain TwoD1-TwoD6;          /* 배열 값을 유지 */
  
  if _N_ = 1 then do Row = 1 to 2;   /* 최초 실행 시 2개의 행 처리 */
    set array_data;                 /* 한 줄씩 읽음 */
    
    array OneD[3] Name1-Name3;      /* Name1~Name3을 1차원 배열로 묶음 */
    
    do Column = 1 to 3;
      TwoD[Row, Column] = OneD[Column];   /* 값을 2차원 배열에 저장 */
    end;
  end;
run;
```

## Hash object

```sas
object-name.definekey ()
object-name.definedata ()
object-name.definedone ()

object-name.find() 찾으면 > 0
object-name.add ()
object-name.output ()
```

hash 데이터셋 output하는 법

```sas
data example1;
    if _n_=1 then do;
        declare hash h(dataset:"sashelp.class");
        h.defineKey("name");             /* 키 */
        h.defineData("age","height","weight"); /* 데이터 */
        h.defineDone();
    end;
    set sashelp.class(keep=name);        /* 왼쪽 데이터 */
    rc = h.find();                       /* 키로 찾기 */
    if rc=0 then output;                 /* 매칭된 경우 출력 */
    drop rc;
run;
```

```sas
data work.StateCityPopulation; 
    if _N_=1 then do; 
        if 0 then set pg3.population.usstates; 
        declare hash States(dataset:'pg3.population_usstates'); 
        States.definekey('StateName'); 
        States.definedata('Capital', 'StatePop2017'); 
        States.definedone(); 
        end; 
    set pg3.population uscities; 
    StateName=stnamel(StateCode): 
    RC=States. find(key:StateName); 
    *(해시 객체 States에서 주 이름(StateName)을 키로 검색해서 해당 Capital과 StatePop2017 값을 찾아서 자동으로 변수에 바인딩합니다 성공 시 RC = 0);
        if RC ne 0 then call missing(Capital, StatePop2017);
        *(해시에서 값을 찾지 못했을 경우, Capital과 StatePop2017 값을 명시적으로 결측 처리합니다.)
        PctPop«CityPop2017/StatePop2017; 
        format StatePop2017 comma14. PctPop percent8.1; 
        (해당하는 거만 데이터셋 만들어지게 하려면)
            if RC = 0 then do;  /* 🔍 lookup 성공한 경우에만 */
                PctPop = CityPop2017 / StatePop2017;
                format StatePop2017 comma14. PctPop percent8.1;
                output;           /* ✅ 해당 행만 데이터셋에 저장 */
        end;
    ()
run;
```

## PROC FCMP

```sas


PROC FCMP OUTLIB=libref.table.package;
FUNCTION function-name(arguments) <$> <length>;
...programming statements...
RETURN(expression);
ENDSUB;
RUN;
```

```sas
proc fcmp outlib-pg3. funcs.weather;
function FtoC (TempF) ;
TempC=round ( (TempF-32) *5/9,.01) ;
return (TempC) ;
endsub;
run;
*function불러와야 쓸 수 있음;
options cmplib=pg3.funcs;

```

- 에시
    - 두 수 중 큰 값을 반환하는 함수 mymax를 정의하고 호출하시오.

```sas
proc fcmp outlib=work.funcs.math;
   function mymax(x,y);
      if x>y then return(x);
      else return(y);
   endsub;
run;

options cmplib=work.funcs;
data ex8;
   result=mymax(10,20);
   put result=;
run;
```

## lag

lag1, lag2 있는 데이터 두 번 돌리면 아래처럼 이상하게 나타남(원래 데이터 10 20 30 40)

큐를 초기화하거나 lag 대신 retain+by 등으로 대체 고려

```sas
data test;
   input x;
   lag1_x = lag1(x);
   lag2_x = lag2(x);
   datalines;
10
20
30
40
;
run;

proc print data=test; run;
```

- 첫 번째 DATA step(정상 동작):

| x  | l1  | l2  |
|----|-----|-----|
| 10 | .   | .   |
| 20 | 10  | .   |
| 30 | 20  | 10  |
| 40 | 30  | 20  |

- 두 번째 DATA step:

| x  | l1   | l2   |
|----|------|------|
| 10 | 40❗ | 30❗ |
| 20 | 10   | 40   |
| 30 | 20   | 10   |
| 40 | 30   | 20   |

## 정규표현식

| 패턴    | 설명                                   |
|---------|----------------------------------------|
| .       | 아무 문자 하나 (줄바꿈 제외)            |
| \d      | 숫자 (digit, 0-9)                      |
| \w      | 알파벳/숫자/언더스코어                 |
| \s      | 공백 문자 (space, tab 등)              |
| ^       | 문자열의 시작                          |
| $       | 문자열의 끝                            |
| +       | 1개 이상 반복                          |
| *       | 0개 이상 반복                          |
| ?       | 0개 또는 1개                           |
| [abc]   | a, b, 또는 c 중 하나                   |
| [^abc]  | a, b, c 이외의 문자                    |
| (abc)   | 그룹                                   |

1. `prxparse` → 정규식 패턴 컴파일

- prxparse('/\d+/') → "숫자 1개 이상" 정규식 생성
- "abc123xyz"에서 숫자는 4번째 위치 → pos=4

```sas
data _null_;
   retain regex;
   if _n_ = 1 then regex = prxparse('/\d+/');  /* 숫자 찾기 */
   str = "abc123xyz";
   pos = prxmatch(regex, str);
   put pos=;
run;
```

2. `prxmatch` → 문자열에 패턴 매칭 (첫 번째 위치)

- "cat"은 "my cat is here"에서 4번째 → pos1=4
- "dog only"에는 없음 → pos2=0


```sas
data _null_;
   regex = prxparse('/cat/');
   str1 = "my cat is here";
   str2 = "dog only";
   pos1 = prxmatch(regex, str1);
   pos2 = prxmatch(regex, str2);
   put pos1= pos2=;
run;
```

3. `prxchange` → 정규식 치환

- 정규식 (\d{4})-(\d{2})-(\d{2}) → 연도-월-일 캡처
- $3/$2/$1 → 일/월/연도로 재배치
- 결과: 17/08/2025

```sas
data _null_;
   str = "2025-08-17";
   /* yyyy-mm-dd → dd/mm/yyyy 변환 */
   new = prxchange('s/(\d{4})-(\d{2})-(\d{2})/$3\/$2\/$1/', -1, str);
   put new=;
run;
```

4. `prxsubstr` → 매치 위치와 길이 반환

- 첫 숫자 시작 = 14번째 (pos=14)
- 길이 = 5 (len=5)
- matched=12345

```sas
data _null_;
   regex = prxparse('/\d+/');  /* 숫자 찾기 */
   str = "Order number 12345 confirmed";
   call prxsubstr(regex, str, pos, len);
   matched = substr(str, pos, len);
   put pos= len= matched=;
run;
```

5. `prxnext` → 여러 매치 순회

- prxnext는 여러 개의 매치를 순차적으로 반환할 때 사용.

```sas
data _null_;
   regex = prxparse('/\d+/');  /* 숫자 찾기 */
   str = "a1 b22 c333";
   start = 1;
   stop = length(str);

   do while (prxnext(regex, start, stop, str, pos, len) > 0);
      match = substr(str, pos, len);
      put match=;
   end;
run;
```

## Format

 코드   | 설명                                   | 예시 값       |
|--------|----------------------------------------|---------------|
| %A     | 요일 이름 (전체)                       | Wednesday     |
| %a     | 요일 이름 (앞 3글자)                   | Wed           |
| %d     | 월 중 일자 (1~31, 한 자리 가능)        | 2             |
| %0d    | 월 중 일자 (2자리, 0 채움)             | 02            |
| %B     | 월 이름 (전체)                         | January       |
| %3B    | 월 이름 (앞 3글자)                     | Jan           |
| %m     | 월 번호 (1~12, 한 자리 가능)           | 1             |
| %0m    | 월 번호 (2자리, 0 채움)                | 01            |
| %Y     | 연도 (4자리)                           | 2019          |
| %Oy    | 연도 (2자리)                           | 19            |
| %H/%OH | 시 (24시간제, 한 자리 또는 두 자리)    | 21            |
| %I/%OI | 시 (12시간제, 한 자리 또는 두 자리)    | 9 또는 09     |
| %M/%OM | 분 (한 자리 또는 두 자리)              | 13            |
| %S/%OS | 초 (한 자리 또는 두 자리)              | 5 또는 05     |
| %p     | 오전/오후 표시 (AM/PM)                 | PM            |

```sas
proc format;
    picture MyDate (default=15)
    low-high = '%a-%d-%3B-¿y'
    (datatype=date) ;
    picture MyTime (default=14)
    low-high
    'H:%OH M:%OM S:%OS'
    (datatype=time) ;
run;
```

## Count, Find

```sas
count(txt, 'apple'); -> cnt = 2
txt = 'apple pie and pineapple';
  cnt = countw(txt); -> cnt = 4
```

```sas
 str = "catalog";
  pos = find(str, "cat");  /* 결과: 1 */
pos = findw(str, "cat");  /* 결과: 0 */
```